{% extends "Base.html" %}
{% block body %}
<p class='instr'>Дистанционное обучение — это взаимодействие студентов и преподавательского состава через сеть Интернет. Оно является абсолютно равнозначным традиционному образовательному процессу. В большинстве случаев единственное, что необходимо студенту – это наличие персонального компьютера, подключенного к сети Интернет.</p>
<p class='instr'>Набор студентов ведётся непрерывно в течение всего года, срок обучения составляет 5 лет, на базе высшего или среднего профессионального образования – от 2 до 4 лет. После успешного прохождения курса обучения и итоговой аттестации студентам выдаётся диплом государственного образца о высшем образовании с присвоением соответствующей квалификации.</p>
<p class='instr header'>Индивидуальный график</p>
<p class='instr'>Возможность получить квалификацию бакалавра по выбранному направлению подготовки, соответствующую федеральному государственному стандарту, в любой точке мира, без отрыва от основной работы. Студенты могут самостоятельно выстраивать учебный график.</p>
{% endblock %}